//- block content
//-   h1 Search Page
//-   form(action="/search", method="GET")
//-     input(type="text", name="query", placeholder="Search...")
//-     button(type="submit") Search

  


html 
    head    
        style.
            .imgcontainer{
                display:flex;

            }
            img {
                margin:20px;
                width:250px;
                height:300px;
            }
            .imgcontainerchi
            ld{
                width:350px;
                margin:20px;
            }
            *{
                margin: 0;
                padding: 0;
            }
            h1 {
                text-align: center;
                color: brown;
                font-size: 30px;
            }
            div{
                font-size: 25px;
            }
            body{
                background-image :url('https://th.bing.com/th/id/OIP.my9l9MRM_G06SkwKPe1w9wHaE7?pid=ImgDet&rs=1');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            .navbar{
                gap: 20px;
                margin: 0 0 0 50%;
            }
            a{
                margin: 15px 0 15px 10px;
                text-decoration: none;
                color:white;
            }
            .navbarsec{
                display:flex;
                background-color: 2A9D8F;
                padding:15px;
            }
            .navbarsec .navbar a{
                background-color : E76F51;
                padding:3px;
                border-radius:8px;
                margin:3px;
            }
            .imgcontainerchild{
                background-color:whitesmoke;
                border-radius:20px;
                padding:30px;
            }

    body 
        section.navbarsec
            h1 Agriculture
            div.navbar
                a(href="/fruits") fruits
                a(href="/pulses") pulses
                a(href="/vegtables") vegtables
                a(href='/roots') roots
            form(action="/search", method="GET")
                input(type="text", name="query", placeholder="Search...")
                button(type="submit") Search
        h1 Result
        div.imgcontainer
            div.imgcontainerchild
                img(src=searchedData.image)
                p #{searchedData.name}
                p #{searchedData.quantity}
                span #{searchedData.mrp} ₹
                br
                span #{searchedData.price} ₹
                strike #{searchedData.mrp - searchedData.price}
            
                p No results found


    script.
        // Get the search input and fruits container
        const searchInput = document.querySelector('input[name="query"]');
        const fruitsContainer = document.querySelector('.imgcontainer');

        // Add a click event listener to the search input
        searchInput.addEventListener('click', function () {
            // Toggle the visibility of the fruits container when the search input is clicked
            fruitsContainer.style.display = 'block';
        });

             
   
